	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/11/2017 13:56
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-dental:before { content: "\f100"; }
.flaticon-medical-2:before { content: "\f101"; }
.flaticon-medical-1:before { content: "\f102"; }
.flaticon-medical:before { content: "\f103"; }
.flaticon-molar:before { content: "\f104"; }
.flaticon-medical-doctor:before { content: "\f105"; }
.flaticon-tooth-pliers:before { content: "\f106"; }
.flaticon-implants:before { content: "\f107"; }